<nav class="navbar navbar-expand-lg navbar-light bg-white floating-navbar">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand brand" routerLink="/">
      <span class="brand-smart">Smart</span><span class="brand-cart">Cart</span>
    </a>

    <!-- Toggle -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto align-items-center">

        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>

        <li class="nav-item ms-3">
          <a class="btn btn-primary" routerLink="/auth/login">Login</a>
        </li>

        <li class="nav-item dropdown ms-3" >
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ userName }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
            <li><a class="dropdown-item" routerLink="/orders">My Orders</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
